@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.navbar {
    background: #7D00A9;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    padding: 15px 2% 12px;
    box-sizing: border-box;
}

.logo_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_nav:hover{
    cursor: pointer;
}

.logo {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 3px;
}

.logo_title {
    color: #FFF;
    font-family: 'Kalam', cursive;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.src {
    border-radius: 6px;
    background: #D9D9D9;
    width: 20%;
    position: absolute;
    right: 5%;
    padding: 0.6em 1em;
    border: none;
}

.src::placeholder {
    color: #737373;
    font-family: HeadlandOne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}