@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.navbar {
    padding-left: 10px;
}

.nav-bg {
    background: #7D00A9;
}

.texto-logo{
    font-family: Kalam;
    font-size: 28px;
}
.logo-logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}